In [5]:
import pandas as pd
from tqdm.notebook import tqdm, trange
import re

storage = "/Volumes/easystore/Drones/"

cv_flights = pd.concat(
    [
        chunk
        for chunk in tqdm(
            pd.read_csv(
                f"../../data/outputs/outputs_cv-flight-manifest.csv", chunksize=100000, dtype=str
            ),
            desc="Loading data",
        )
    ]
)
calls_for_service = pd.concat(
    [
        chunk
        for chunk in tqdm(
            pd.read_csv(
                f"{storage}/calls-for-service-with-census-data.csv",
                chunksize=100000,
                dtype=str,
            ),
            desc="Loading data",
        )
    ]
)

Loading data: 0it [00:00, ?it/s]

Loading data: 0it [00:00, ?it/s]

In [6]:
cv_flights['clean-type'] = cv_flights['type'].str.lower()
cv_flights['clean-type'] = cv_flights['clean-type'].apply(lambda x: str(x).replace('  ','').strip())

In [7]:
cv_flights[cv_flights['clean-type'].astype(str).str.contains('vaping')]

Empty DataFrame
Columns: [lat_map, lon_map, time, id, date, time_s, address_map, incident_id, type, department, clean-type, match]
Index: []

In [8]:
cv_flights['clean-type'].drop_duplicates().to_csv('../../data/manually-label/types-to-label-flights.csv',index=False)

In [9]:
cv_flights[cv_flights['clean-type'].str.contains('drone')]
cv_flights['src']='drone_flights'

In [10]:
calls_for_service['clean-type'] = calls_for_service['Description'].str.lower()
calls_for_service['src']='cfs'
calls_for_service['clean-type'] = calls_for_service['clean-type'].apply(lambda x: str(x).replace('  ','').strip())

In [11]:
a = []
a.append(calls_for_service[['src','clean-type']])
a.append(cv_flights[['src','clean-type']])
types = pd.concat(a)

In [12]:
types[['clean-type']].drop_duplicates()

                                   clean-type
0                                extra patrol
1                                   narcotics
2                             pedestrian stop
3                       disturbance - general
5      pedestrian stop (person in parked veh)
...                                       ...
9472                       intoxicated person
9474                    missing child / fight
9481        impaired driver / person with gun
9490  mental health call / mental health call
9513                        robbery / assault

[784 rows x 1 columns]

In [13]:
types[['clean-type']].drop_duplicates().to_csv('../../data/manually-label/types.csv',index=False)